@page "/admin/changePassword"
@using Logics
@using Coursework1Development.Components.Alerts
@using Components.Layout
@layout AdminLayout



<div class="container">

    <h1 class="my-4">Change Password</h1>
<div class="d-flex justify-content-center align-items-center">
    <div class="p-5 inputContainer shadow">

        <form @onsubmit="HandleChangePassword">
            <div class="form-group mb-2">
                <label for="usernameInput">Username</label>
                <input class="form-control input-sm" id="usernameInput" type="text"
                       @bind-value="_username">
            </div>
            <div class="form-group mb-3">
                <label for="passwordInput">Current Password</label>
                <input class="form-control input-sm" id="passwordInput" type="password"
                       @bind-value="_password">
            </div>

            <div class="form-group mb-3">
                <label for="passwordInput">New Password</label>
                <input class="form-control input-sm" id="passwordInput" type="password"
                       @bind-value="_newPassword">
            </div>

            <button type="submit" class="btn w-100 text-light" style="background-color: var(--primary-color)">Change Password</button>
        </form>
    </div>
</div>
</div>

@code {
    @inject NavigationManager NavigationManager;
    @inject NavigationManager navigationManager;


    private string _username;
    private string _password;
    private string _newPassword;


    void HandleChangePassword()
    {
        bool isChanged = AdminTasks.ChangePassword(_username, _password, _newPassword);

        if (isChanged)
        {
            navigationManager.NavigateTo("/");
        }
    }
}