@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <AdminNavbar />
    </div>

    <main>
        <article class="content px-4 mainContainer" style="background-color:#F5F7FF">
            @Body
        </article>
    </main>
</div>
