<div class="d-flex flex-column justify-content-center align-items-center mainContainer">
    <div class="p-5 inputContainer shadow">

            <p class="lead fw-bolder text-success text-center mb-3">Order Successful <i class="fa-regular fa-circle-check"></i></p>
            
            <div class="mb-3">

                <p class="lead fw-bold">Products</p>
                <div class="d-flex justify-content-between mb-1">
                    <p class="lead">product name</p>
                    <p class="lead">$ 0.00</p>
                </div>
                <div class="d-flex justify-content-between mb-1">
                    <p class="lead">product name</p>
                    <p class="lead">$ 0.00</p>
                </div>
            </div>

            <div class="mb-3">

                <p class="lead fw-bold">Add Ins</p>
                <div class="d-flex justify-content-between mb-1">
                    <p class="lead">addIn name</p>
                    <p class="lead">$ 0.00</p>
                </div>
                <div class="d-flex justify-content-between mb-1">
                    <p class="lead">addIn name</p>
                    <p class="lead">$ 0.00</p>
                </div>
            </div>

        <div class="mb-3">

            <div class="d-flex justify-content-between mb-1">
                <p class="lead fw-bold">Discount</p>
                <p class="lead">10%</p>
            </div>
        </div>

            <hr/>

        <div class="d-flex justify-content-between">
            <p class="lead fw-bold">Grand Total</p>
            <p class="lead text-danger">$ 0.00</p>
        </div>
    </div>

    <button type="submit" class="btn text-light mt-3 inputContainer" style="background-color: var(--primary-color)">Dismiss</button>
</div>

@code {
    

}
